.app_blue_theme {
  --bg-color: #324775;
  --inverted-bg-color: #f4f6fb;
  --primary-color: #66d1df;
  --secondary-color: #3cadb9;
  --inverted-primary-color: #243455;
  --inverted-secondary-color: #324775;

  // skeleton
  --skeleton-color: #9eb9f5;
  --skeleton-shadow: rgba(5 206 233 / 20%);

  // code
  --code-bg: #1149c0;

  // card
  --card-bg: #202a41;
}
